<header class="header">
  <div class="header__bar row">
    <h1 class="grid-6"><a href="/"></a></h1>
    <% if user_signed_in? %>
      <div class="user_header">
        <span class="user_name_info">
        <a class="user_nickname"><%= current_user.nickname %></a>
          <ul class="user-info">
            <li class="user-info-btn">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete , class: "logout-btn"%>
              <%= link_to "問題", root_path, class: "top-btn"%>
            </li>
          </ul>
        </span>
        <%#= link_to "投稿する", new_tweet_path, class: "post" %>
      </div>
    <% else %>
      <div class="grid-6">
        <%= link_to "ログイン", new_user_session_path, class: "post" %>
        <%= link_to "新規登録", new_user_registration_path, class: "post" %>
      </div>
    <% end %>
  </div>
</header>