<%= render "shared/header" %>
<div class="subjects-choice">
  <div class="subjects-choice-box">

    <%#= form_with id: 'charge-form', class: 'transaction-form-wrap', local: true do |f| %>
    <div class="english-box">
      <%= link_to "English", "#" ,class: "english"%>
    </div>
    <%#end%>

    <div class="math-box">
      <%= link_to "数学", "#", class: "math"%>
    </div>

    <div class="japanese-box">
      <%= link_to "国語", "#", class: "japanese"%>
    </div>

    <div class="science-box">
      <%= link_to "理科", "#", class: "science"%>
    </div>

    <div class="society-box">
      <%= link_to "社会", "#", class: "society"%>
    </div>
  </div>
</div>
