<%= render "shared/header" %>
<div class="subjects-choice">
  <div class="subjects-choice-box">

    <div class="self-made-problem-box">
      <%= link_to "自作問題", my_problems_path ,class: "self-made-problem"%>
    </div>

    <div class="english-box">
      <%= link_to "英単語", englishes_path ,class: "english" %>
    </div>
  
  <%#
    <div class="math-box">
      <%= link_to "数学", "#", class: "math"
    </div>

    <div class="japanese-box">
      <%= link_to "国語", "#", class: "japanese"
    </div>

    <div class="science-box">
      <%= link_to "理科", "#", class: "science"
    </div>

    <div class="society-box">
      <%= link_to "社会", "#", class: "society"
    </div>
  %>
  </div>

  <div class="self-made-problem-btn">
    <a href="/my_problems/new" class="self-msde-problem-btn-text">問題を作る</a>
  </div>
  <div class="self-made-problem-btn1">
    <a href="/englishes/new" class="self-msde-problem-btn-text1">英単語集を作る</a>
  </div>
</div>
