<div class="contents row">
  <div class="container">
    <h2>ログイン</h2>

    <%= form_with model: @user, url: new_user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <%= devise_error_messages! %>
    <%#= render 'shared/error_messages', model: f.object %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>
      <div class="root-btn-box">
        <button class="root-btn">もどる</button>
      </div>
    <% end %>
  </div>
</div>